
<div ng-controller="MainCtrl">
  <h1>感情地図</h1>
  <nav role="navigation" class="navbar navbar-default">
    <ul ng-repeat="city in cities" class="nav navbar-nav">
      <li ng-class="navClass(city)" ng-click="setCurrent(city)"><a>{{city.name}}</a></li>
    </ul>
    <ul class="nav pull-right navbar-nav">
      <li ng-class="{'active': page == 'map'}"><a href="#/map">地図</a></li>
      <li ng-class="{'active': page == 'tweet'}"><a href="#/tweet">ツイーット</a></li>
    </ul>
  </nav>
  <div id="main" ng-view="ng-view"></div>
</div>